Repository gear-tech/sails, pull requests merged in 2024-11, with the labels that each got.

#648 fix(ffi): unify c_char ptr cast
  rs/idl-parser/src/ffi/ast/mod.rs
Labels: A0-pleasereview

#674 chore(net-client-gen): fix default Value & improve params encoding
  net/rs/client-gen/src/ctor_generators.rs
  net/rs/client-gen/src/helpers.rs
  net/rs/client-gen/src/root_generator.rs
  net/rs/client-gen/src/service_generators.rs
  net/rs/client-gen/src/type_generators.rs
  net/rs/client-gen/tests/snapshots/generator__basic_works.snap
  net/rs/client-gen/tests/snapshots/generator__events_works.snap
  net/rs/client-gen/tests/snapshots/generator__full.snap
  net/rs/client-gen/tests/snapshots/generator__multiple_services.snap
  net/rs/client-gen/tests/snapshots/generator__nonzero_works.snap
  net/rs/client-gen/tests/snapshots/generator__rmrk_works.snap
  net/src/Sails.Remoting/RemotingAction.cs
  net/tests/Sails.Client.Tests/DemoClientTests.cs
  net/tests/Sails.ClientGenerator.Tests/Snapshots/SailsClientGeneratorTests.Generate_DemoIdl#Demo.g.verified.cs
Labels: rust, .NET

#681 feat(net): add Demo Client tests
  net/Directory.Packages.props
  net/tests/Sails.Client.Tests/GlobalUsings.cs
  net/tests/Sails.DemoClient.Tests/AssemblyAttributes.cs
  net/tests/Sails.DemoClient.Tests/CounterTests.cs
  net/tests/Sails.DemoClient.Tests/DemoFactoryTests.cs
  net/tests/Sails.DemoClient.Tests/GlobalUsings.cs
  net/tests/Sails.DemoClient.Tests/PingPongTests.cs
  net/tests/Sails.DemoClient.Tests/RemotingTestsBase.cs
  net/tests/Sails.DemoClient.Tests/Sails.DemoClient.Tests.csproj
  net/tests/Sails.DemoClient.Tests/ValueFeeTests.cs
Labels: .NET

#608 chore(js): setup release flow
  .github/workflows/ci-js.yml
  .github/workflows/js-ci.yml
  .github/workflows/js-release.yml
  .gitignore
  js/CHANGELOG.md
  js/cli/src/generate/types-gen.ts
  js/config.json
  js/parser/rollup.config.js
  js/scripts/build-parser.sh
  js/scripts/bump-versions.sh
  js/test/demo.test.ts
  js/test/setup.js
  js/tsconfig.json
Labels: github_actions

#689 [net]build(gh): add client generator tests into CI
  .github/workflows/net-build-client-gen.yml
  .github/workflows/net-ci.yml
Labels: github_actions

#682 [net]build(gh): introduce release pipeline for .Net
  .github/workflows/net-ci.yml
  .github/workflows/net-release.yml
Labels: github_actions

#691 feat(net): implement Event listener (v2)
  net/rs/client-gen/src/ctor_generators.rs
  net/rs/client-gen/src/events_generator.rs
  net/rs/client-gen/src/helpers.rs
  net/rs/client-gen/src/service_generators.rs
  net/rs/client-gen/tests/snapshots/generator__basic_works.snap
  net/rs/client-gen/tests/snapshots/generator__events_works.snap
  net/rs/client-gen/tests/snapshots/generator__full.snap
  net/rs/client-gen/tests/snapshots/generator__multiple_services.snap
  net/rs/client-gen/tests/snapshots/generator__nonzero_works.snap
  net/rs/client-gen/tests/snapshots/generator__rmrk_works.snap
  net/src/Sails.Remoting.Abstractions/ActionExtensions.cs
  net/src/Sails.Remoting.Abstractions/Core/EventListener.cs
  net/src/Sails.Remoting.Abstractions/Core/IRemoting.cs
  net/src/Sails.Remoting.Abstractions/Core/IRemotingListener.cs
  net/src/Sails.Remoting.Abstractions/IRemotingListener.cs
  net/src/Sails.Remoting/Core/BlockStreamEventListener.cs
  net/src/Sails.Remoting/Core/RemotingReplyViaNodeClient.cs
  net/src/Sails.Remoting/Core/RemotingViaNodeClient.cs
  net/src/Sails.Remoting/EventListenerExtensions.cs
  net/src/Sails.Remoting/RemotingAction.cs
  net/src/Sails.Remoting/ServiceEventListener.cs
  net/src/Substrate.Gear.Client/BlocksStreamExtensions.cs
  net/src/Substrate.Gear.Client/GearApi/Model/gprimitives/ActorIdExtensions.cs
  net/src/Substrate.Gear.Client/GlobalUsings.cs
  net/tests/Sails.ClientGenerator.Tests/Snapshots/SailsClientGeneratorTests.Generate_DemoIdl#Demo.g.verified.cs
  net/tests/Sails.Remoting.Tests/Core/RemotingViaNodeClientTests.cs
Labels: .NET

#695 fix(net): parse reply code & error
  net/src/Sails.Remoting/Core/RemotingViaNodeClient.cs
  net/src/Sails.Remoting/Exceptions/ExecutionReplyException.cs
  net/src/Sails.Remoting/Exceptions/ProgramCreationReplyException.cs
  net/src/Sails.Remoting/Exceptions/ReplyException.cs
  net/tests/Sails.Remoting.Tests/Core/RemotingViaNodeClientTests.cs
Labels: .NET
